-
    var menu = [
        { name: 'skills',       display: 'Compétences',   href: 'competences.html'},
        { name: 'realizations', display: 'Réalisations',  href: 'realisations.html'},
        { name: 'experiences',  display: 'Expériences',   href: 'experiences.html'},
        { name: 'contact',      display: 'Contact',       href: 'contact.html'},
    ];

nav.navbar.navbar-expand-sm.navbar-dark.fixed-top
    a.navbar-brand(href="index.html") Thomas Kerbrat

    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#portfolio-navbar")
        span.navbar-toggler-icon

    div.collapse.navbar-collapse#portfolio-navbar
        ul.navbar-nav.mr-auto
            each menuItem in menu
                li.nav-item(class=(view === menuItem.name ? 'active' : ''))
                    a.nav-link(href=menuItem.href)= menuItem.display
