.my-portfolio {
    background-color: #eee;
    padding-top: 5rem;
}

.my-portfolio nav {
    background-color: #246;
}

.summary-image-illustration {
    width: 200px;
    height: 200px;
    margin-right: 1rem;
}
