- var view = "skills"

doctype html
html(lang="fr")
    include includes/head.pug
    body.my-portfolio
        include includes/nav.pug

        main.container(role="main")
            section.bg-white.p-3.p-sm-5.rounded
                h1 Compétences

                p.
                    Cette page vous présente certaines de mes compétences les plus importantes.
                    Vous trouverez une courte description et un lien pour consulter l’article détaillé.
                    Ci-après ce trouve un schéma représentant mon niveau actuel dans chaque compétence ainsi que leur évolution dans deux ans.

                figure.figure.d-flex.flex-column.align-items-center
                    img.figure-img.img-fluid.rounded(src="img/schema-competences.png")
                    figcaption.figure-caption.text-center Schéma comparatif de mes compétences

                h2.mt-5 Compétences non-techniques

                h3.mt-3 Anglais
                div.d-flex.flex-column.flex-md-row.justify-content-start.align-items-start
                    img.summary-image-illustration(src="img/uk-flag.png")
                    p
                        | La maitrise de l’anglais permet d’accéder à davantage de contenu, notamment sur internet. Parmi les exemples les plus notables, la très grande majorité des contenus techniques - documentations, forum d’aide, tutoriels - est uniquement disponible en anglais. Il est à noter que les sites les plus populaires commencent à traduire leurs contenu.
                        br
                        a(href="competence-anglais.html") Lire l'article

                h3.mt-3 Recueil des besoins
                div.d-flex.flex-column.flex-md-row.justify-content-start.align-items-start
                    img.summary-image-illustration(src="img/requirements.png")
                    p
                        | Les ingénieurs et développeurs en informatique fournissent leur savoir-faire à leurs clients. Ce sont ces derniers qui sont à l’origine du besoin. Il faut donc savoir le recueillir en détail pour que les développeurs puissent « traduire » les besoins en code informatique.
                        br
                        a(href="competence-recueil-besoins.html") Lire l'article

                h2.mt-5 Compétences techniques

                h3.mt-3 Développement full stack
                div.d-flex.flex-column.flex-md-row.justify-content-start.align-items-start
                    img.summary-image-illustration(src="img/full-stack.png")
                    p
                        | La maîtrise de toutes les technologies nécessaires à la réalisation d'une application ou d'un site web permet au développeur une plus grande autonomie. Cela profite aussi à ses collègues car il saura mieux communiquer et prendre en compte les interactions du logiciel aux différents niveaux de développement et d'intégration.
                        br
                        a(href="competence-developpeur-full-stack.html") Lire l'article

                h3.mt-3 Environcement Linux
                div.d-flex.flex-column.flex-md-row.justify-content-start.align-items-start
                    img.summary-image-illustration(src="img/linux-logo.png")
                    p
                        | Linux est un système d'exploitation robuste utilisé partout à travers le monde. Il est à la base de beaucoup d’applications dans l’industrie informatique : les serveurs internet, les super-calculateurs, les téléphones mobiles et ainsi de suite…
                        br
                        a(href="competence-environement-linux.html") Lire l'article

                h3.mt-3 JavaScript
                div.d-flex.flex-column.flex-md-row.justify-content-start.align-items-start
                    img.summary-image-illustration(src="img/javascript-logo.png")
                    p
                        | JavaScript est le langage incontournable sur le web. Que ce soit pour créer des petites fonctionnalités pour améliorer l’interactivité d’un site internet, ou réaliser une application professionnelle de bout en bout, ce langage est la référence pour tout développeur web.
                        br
                        a(href="competence-javascript.html") Lire l'article

        include includes/footer.pug
