- var view = "skills"

doctype html
html(lang="fr")
    include includes/head.pug
    body.my-portfolio
        include includes/nav.pug

        main.container(role="main")
            div.row
                div.col-md-8
                    section.bg-white.p-3.p-sm-5.rounded
                        include:markdown-it articles/competence-javascript.txt
                div.col-md-4.mt-3.mt-md-0
                    aside.bg-white.p-3.rounded.mt-3.mt-md-0
                        h3 Réalisations liées
                        ul.list-group.list-group-flush
                            li.list-group-item.border-top-0: a(href="realisations.html") Toutes mes réalisations
                    aside.bg-white.p-3.rounded.mt-3
                        h3 Mes autres compétences
                        ul.list-group.list-group-flush
                            li.list-group-item.border-top-0: a(href="competence-anglais.html") Anglais
                            li.list-group-item: a(href="competence-developpeur-full-stack.html") Développement full stack
                            li.list-group-item: a(href="competence-environement-linux.html") Environnement Linux
                            li.list-group-item JavaScript
                            li.list-group-item: a(href="competence-recueil-besoins.html") Recueil des besoins

        include includes/footer.pug
