- var view = "home"

doctype html
html(lang="fr")
    include includes/head.pug
    body.my-portfolio
        include includes/nav.pug

        main.container(role="main")
            section.bg-white.p-3.p-sm-5.rounded
                h1 Thomas Kerbrat
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quam blanditiis possimus officia. Voluptates, sapiente nostrum. Tenetur labore vitae quisquam. Soluta iusto eum tenetur sequi accusamus blanditiis maxime, odit dolor?

                h2 Contact
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae repellat perferendis deleniti ducimus quam. Nobis natus totam quis, exercitationem consectetur labore veniam et. Maxime velit vero sequi recusandae mollitia cum.

        include includes/footer.pug
