- var view = "home"

doctype html
html(lang="fr")
    include includes/head.pug
    body.my-portfolio
        include includes/nav.pug

        main.container(role="main")
            section.bg-white.p-3.p-sm-5.rounded
                h1 Thomas Kerbrat
                include:markdown-it articles/presentation-generale.txt

                figure.figure.d-flex.flex-column.align-items-center
                    img.figure-img.img-fluid.rounded.border.border-light(src="img/kerbrat_thomas_photo_identite.jpg")

                h2 Contact
                address.
                    Email : <a href="mailto:kerbrat@outlook.com">kerbrat@outlook.com</a><br>
                    GitHub : <a href="https://github.com/ThomasKerbrat">@ThomasKerbrat</a><br>
                    LinkedIn : <a href="https://www.linkedin.com/in/thomas-kerbrat-998a4888">thomas-kerbrat-998a4888</a>

        include includes/footer.pug
