- var view = "realizations"

doctype html
html(lang="fr")
    include includes/head.pug
    body.my-portfolio
        include includes/nav.pug

        div.container.my-4
            section.bg-white.p-5.rounded
                h1 Réalisations

                p
                    a.border.rounded.p-2.mr-3(href="realisation-application-facturation.html") Application de facturation
                    a.border.rounded.p-2.mr-3(href="realisation-front-end-smart.html") Front-End Smart
                    a.border.rounded.p-2.mr-3(href="realisation-savoir-etre-aidant.html") Savoir Être Aidant

        include includes/footer.pug
