- var view = "realizations"

doctype html
html(lang="fr")
    include includes/head.pug
    body.my-portfolio
        include includes/nav.pug

        main.container(role="main")
            div.row
                div.col-md-8
                    section.bg-white.p-3.p-sm-5.rounded
                        include:markdown-it articles/realisation-application-facturation.txt
                div.col-md-4.mt-3.mt-md-0
                    section.bg-white.p-3.rounded
                        h3 Mes autres réalisations
                        ul.list-group.list-group-flush
                            li.list-group-item Application de facturation
                            li.list-group-item: a(href="realisation-front-end-smart.html") Front-End Smart
                            li.list-group-item: a(href="realisation-savoir-etre-aidant.html") Savoir Être Aidant

        include includes/footer.pug
