- var view = "realizations"

doctype html
html(lang="fr")
    include includes/head.pug
    body.my-portfolio
        include includes/nav.pug

        main.container(role="main")
            section.bg-white.p-3.p-sm-5.rounded
                h1 Réalisations

                h2.mt-4 Application de facturation
                div.d-flex.flex-column.flex-md-row.justify-content-start.align-items-start
                    img.summary-image-illustration(src="img/logo-application-facture.png")
                    p
                        | Mon premier projet en tant que auto-entrepreneur fut la création d’une application de facturation. J’étais le seul intervenant du début à la fin. Recueil des besoin, développement full stack, environnement Linux, j’ai appris beaucoup de compétences grâce à ce projet.
                        br
                        a(href="realisation-application-facturation.html") Lire l'article

                h2.mt-4 Front-End Tablet
                div.d-flex.flex-column.flex-md-row.justify-content-start.align-items-start
                    img.summary-image-illustration(src="img/logo-fe-smart.png")
                    p
                        | Le Front End Tablet est une application web réalisée dans l'entreprise Quod Financial. Il s'agit du premier projet que j'ai réalisé dans cette entreprise et qui m'a permit d'apprendre énormément de choses à la fois techniques et liées au travail en entreprise.
                        br
                        a(href="realisation-front-end-tablet.html") Lire l'article

                h2.mt-4 Front-End Mobile
                div.d-flex.flex-column.flex-md-row.justify-content-start.align-items-start
                    img.summary-image-illustration(src="img/logo-fe-smart.png")
                    p
                        | Une application web destinée aux téléphones portables dans la lignée du projet Tablet.
                        br
                        a(href="realisation-front-end-mobile.html") Lire l'article

                h2.mt-4 Front-End Smart
                div.d-flex.flex-column.flex-md-row.justify-content-start.align-items-start
                    img.summary-image-illustration(src="img/logo-fe-smart.png")
                    p
                        | L’entreprise Quod Financial m’a offert la possibilité de travailler sur une application complexe, aux enjeux multiples. Le Front-End Smart est une application web d’administration de base de données. Il s’agit d’un logiciel spécialisé pour tous les clients de l’entreprise, et à ce titre, dispose d’une grande quantité de fonctionnalités.
                        br
                        a(href="realisation-front-end-smart.html") Lire l'article

                h2.mt-4 Savoir Être Aidant
                div.d-flex.flex-column.flex-md-row.justify-content-start.align-items-start
                    img.summary-image-illustration(src="img/logo-sea.png")
                    p
                        | Savoir Être Aidant est un projet visant à sensibiliser les « aidants » dans leurs activités au quotidien. J’ai réalisé un site internet interactif pour diffuser des vidéos éducatives et pédagogiques. Ce support numérique est complémenté par des ateliers présentiels organisés par les clients de ce projet.
                        br
                        a(href="realisation-savoir-etre-aidant.html") Lire l'article

        include includes/footer.pug
